---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Card from '../components/Card.astro';
import Card2 from '../components/Card2.astro';
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
---
<MainLayout title="Titel">
	
	<section>
		<div
		  class="hero min-h-screen relative"
		  style="background-image: url('wineyard.webp');">
		  
		  <!-- Header placeres absolut -->
		  <div class="fixed top-2 p-2 w-full z-50">
			<Header />
		  </div>
	  
		  <!-- Overlay -->
		  <div class="hero-overlay"></div>
	  
		  <!-- Content -->
		  <div class="hero-content text-neutral-content text-center">
			<div class="max-w-md">
			  <h1 class="mb-5 text-7xl font-bold">Østersøens vinhandel</h1>
			  <p class="mb-5">
				Vi byder velkommen til Østersøens vinhandel!
				En familieejet virksomhed placeret i hjertet på Bornholm, med stor kærlighed og ekspertise til rødvin.
			  </p>
			  <button class="btn btn-primary">Se vores udvalg</button>
			</div>
		  </div>
		</div>
	  </section>
  
	  <!-- Section 1 -->
	  <section class="py-25 flex justify-center px-4">
		<div class="stats stats-vertical lg:stats-horizontal shadow w-full max-w-4xl">
		  <div class="stat">
			<div class="stat-figure text-secondary">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block h-8 w-8 stroke-current">
				<path
				  stroke-linecap="round"
				  stroke-linejoin="round"
				  stroke-width="2"
				  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
			  </svg>
			</div>
			<div class="stat-title">Flasker solgt</div>
			<div class="stat-value">31K</div>
			<div class="stat-desc">2021</div>
		  </div>
		
		  <div class="stat">
			<div class="stat-figure text-secondary">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block h-8 w-8 stroke-current">
				<path
				  stroke-linecap="round"
				  stroke-linejoin="round"
				  stroke-width="2"
				  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path>
			  </svg>
			</div>
			<div class="stat-title">Abonnenter</div>
			<div class="stat-value">4,200</div>
			<div class="stat-desc">↗︎ 400 (22%)</div>
		  </div>
		
		  <div class="stat">
			<div class="stat-figure text-secondary">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block h-8 w-8 stroke-current">
				<path
				  stroke-linecap="round"
				  stroke-linejoin="round"
				  stroke-width="2"
				  d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
			  </svg>
			</div>
			<div class="stat-title">Leveringer</div>
			<div class="stat-value">1,200</div>
			<div class="stat-desc">↗︎ 200 (11%)</div>
		  </div>
		</div>
	  </section>
	  
	   <!-- Section 2 -->
		<section class="container mx-auto m-sectiontop px-4 pt-15">
			<h2 class="text-3xl m-sectionheading pb-4">Se vores populære rødvine her</h2>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
				<Card
				url="/singleview"
				cardimage="wine1.webp"
				cardimagealt="1"
				cardtitel="Toscano Montale"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="true"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine2.webp"
				cardimagealt="2"
				cardtitel="Wine Bar"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine3.webp"
				cardimagealt="3"
				cardtitel="Castro"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine4.webp"
				cardimagealt="4"
				cardtitel="Bourgogne Hautes-Cotes de Beaune"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="true"
				badgefaatilbage="false"
				></Card>
			</div>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
				<Card
				url="/singleview"
				cardimage="wine5.webp"
				cardimagealt="5"
				cardtitel="Bourgogne Hautes-Cotes"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine6.webp"
				cardimagealt="6"
				cardtitel="Chateau Biston"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine7.jpg"
				cardimagealt="7"
				cardtitel="Talamonti"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="false"
				badgerabat="false"
				badgefaatilbage="true"
				></Card>
				<Card
				url="/singleview"
				cardimage="wine8.webp"
				cardimagealt="8"
				cardtitel="Rasteau"
				cardtekst="Er det rosé eller rosé? Det er rosé!"
				cardbuttontekst="Køb mere" 
				badgenyt="true"
				badgerabat="false"
				badgefaatilbage="false"
				></Card>
			</div>
	</section>
	  
	   <!-- Section 3 -->
	   <section class="container mx-auto m-sectiontop px-4 pt-15">
		<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
			<div class="card bg-base-100 w-full shadow-sm">
				<div class="card-body">
				  <span class="badge badge-xs badge-warning">Standard</span>
				  <div class="flex justify-between">
					<h2 class="text-3xl font-bold">Lidt tørstig</h2>
					<span class="text-xl">229,- / måned</span>
				  </div>
				  <ul class="mt-6 flex flex-col gap-2 text-xs">
					<li>
					  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					  <span>3 flasker om måneden</span>
					</li>
					<li>
					  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					  <span>Magasin</span>
					</li>
					<li class="opacity-50">
					  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					  <span class="line-through">Overraskelseskurv</span>
					</li>
					<li class="opacity-50">
						<svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
						<span class="line-through">Fri</span>
					  </li>
				  </ul>
				  <div class="mt-6">
					<button class="btn btn-primary btn-block">Læg i kurven</button>
				  </div>
				</div>
			</div>

			<div class="card bg-base-100 w-full shadow-sm">  
			  <div class="card-body">
				<span class="badge badge-xs badge-warning">Luksus</span>
				<div class="flex justify-between">
				  <h2 class="text-3xl font-bold">Meget tørstig</h2>
				  <span class="text-xl">449,- / måned</span>
				</div>
				<ul class="mt-6 flex flex-col gap-2 text-xs">
				  <li>
					<svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					<span>6 flasker om måneden</span>
				  </li>
				  <li>
					<svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					<span>Magasin</span>
				  </li>
				  <li>
					<svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					<span>Overraskelses kurv</span>
				  </li>
				  <li>
					<svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" /></svg>
					<span>Fri fragt</span>
				  </li>
				</ul>
				<div class="mt-6">
				  <button class="btn btn-primary btn-block">Læg i kurven</button>
				</div>
			  </div>
			
			</div>
		</div>
	</div>
	  </section>
	  
	   <!-- Section 4 -->
	   <section>
	   <Form></Form>
	  </section>
</MainLayout>