---
---
<section class="container mx-auto m-sectiontop pb-15 pt-15">
  <div class="grid grid-cols-1">
    <div class="card bg-base-100 w-full max-w-md mx-auto">
      <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
        <legend class="fieldset-legend">Kontakt kundeservice</legend>

        <label class="fieldset-label">Navn</label>
        <input type="email" class="input" placeholder="Anders Andersen" />

        <label class="fieldset-label">Email</label>
        <input type="email" class="input" placeholder="andersandersen@mail.dk" />

        <label class="fieldset-label"></label>
        <input type="password" class="input" placeholder="Skriv dit spørgsmål" />

        <button class="btn btn-neutral mt-4">Send besked</button>
      </fieldset>
    </div>
  </div>
</section>
